:root {
  --main-bg-color: #f3faf0;
  --heading-color: #d0ddcb;
  --main-font-family: "poppins", sans-serif;
  --secondary-font-family: Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
  --main-btn-color: #d0ddcb;
  --main-font-color: #56734b;
}

.navbar {
  background-color: var(--heading-color);
}

.nav-link,
.active {
  color: var(--main-font-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--main-font-family);
}

.hero {
  text-align: center;
  background-color: var(--main-bg-color);
  padding: 160px 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h1 {
  font-family: var(--secondary-font-family);
  font-weight: bold;
  color: var(--main-font-color);
  font-size: 50px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-family: var(--secondary-font-family);
  font-size: 30px;
  font-weight: 600;
}

h4 {
  font-size: 20px;
}

.btn-branding,
.btn-branding-outline {
  background-color: var(--main-btn-color);
  color: black;
  font-size: 15px;
  padding: 15px 25px;
}

h1:hover {
  color: #d0ddcb;
  transition: 0.25s ease-out;
}

.about-me-hero {
  text-align: center;
}

.btn-branding:hover,
.btn-branding-outline:hover {
  background-color: var(--main-font-color);
  color: white;
}

.quote {
  font-family: var(--secondary-font-family);
  color: var(--main-font-color);
  font-size: 32px;
  font-weight: 300;
}

.contact-button {
  margin: 15px 0px;
}

.about-title {
  padding-top: 160px;
}

.about-me-paragraph {
  margin: 60px 150px;
  text-align: center;
}

img {
  padding: 40px 40px;
  background-color: #f3faf0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

a {
  text-align: center;
}

.project-description {
  padding: 80px 60px;
}

.page-title {
  color: var(--main-font-color);
}

.page-title,
.work-paragraph {
  padding: 80px 10px;
}

.work-pages:hover {
  background-color: var(--heading-color);
  transition: 0.25s ease-in-out;
}

.contact-title {
  padding: 100px 0px;
}

.link-word {
  color: var(--main-font-color);
}

.contact-links a {
  text-decoration: none;
}

.contact-links a:hover {
  text-decoration: underline;
}

footer {
  background-color: var(--main-bg-color);
}

footer .email-link a {
  font-size: 32px;
  color: var(--main-font-color);
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

footer .email-link a:hover {
  text-decoration: underline;
}

footer .social-links {
  padding: 30px 150px;
}
footer .social-links a {
  color: var(--main-font-color);
  font-size: 28px;
  background-color: var(--main-btn-color);
  padding: 10px 20px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background-color: var(--main-font-color);
}

footer .project-credit a {
  color: var(--main-font-color);
  text-decoration: none;
}

footer .project-credit a:hover {
  text-decoration: underline;
}

@media (max-width: 900px) {
  .project-description {
    padding: 0 10px;
    text-align: center;
  }
  .quote {
    font-size: 16px;
  }
  .about-hello {
    font-size: 36px;
  }
  .about-title {
    margin: 60px 40px;
    text-align: center;
    padding: 0;
    width: 300px;
  }

  .sav-pic-2 {
    padding: 40px 20px;
    max-width: 80%;
  }

  .about-me-paragraph {
    margin: 40px 20px;
  }

  .page-title {
    padding: 20px 10px;
    text-decoration: underline;
  }
  .contact-title {
    padding: 70px 0px;
  }

  .contact-links {
    padding: 50px 0px;
  }

  footer .email-link a {
    font-size: 30px;
  }

  footer .social-links {
    padding: 0px 40px;
  }

  footer .social-links a {
    font-size: 20px;
  }
}
